<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="24" nzSm="12" nzMd="24" class="mb-md">
    <nz-card [nzBordered]="false" [nzTitle]="title">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
        <se label="服务名称" error="请输入用户名，大于两个字符" required>
          <input nz-input formControlName="sname" placeholder="给目标起个名字" />
        </se>
        <se label="次数" error="请输入服务次数" required>
          <input nz-input formControlName="times" placeholder="输入服务次数" />
        </se>
        <se label="原价" error="请输入商品原价">
          <input nz-input formControlName="original_price" placeholder="输入商品原价" />
        </se>
        <se label="现价" error="请输入商品现价">
          <input nz-input formControlName="current_price" placeholder="输入商品现价" />
        </se>
        <se label="服务描述" error="请输入商品描述">
          <textarea nz-input formControlName="desc" [nzAutosize]="{ minRows: 4 }" placeholder="请输入商品描述"></textarea>
        </se>

        <se label="预览图">
          <div *ngIf="avatarURL01">
            <img [src]="avatarURL01" alt="Smiley face" height="200" width="200">
          </div>
          <nz-upload [nzBeforeUpload]="beforeUpload01" [(nzFileList)]="fileList01">
            <button nz-button type="button">
              <i nz-icon nzType="upload"></i>
              <span>选择图片</span>
            </button>
          </nz-upload>
        </se>

        <se label="细节图">
          <div *ngIf="avatarURLDetail">
            <img [src]="avatarURLDetail" alt="Smiley face" height="200" width="200">
          </div>
          <nz-upload [nzBeforeUpload]="beforeUploadDetail" [(nzFileList)]="fileListDetail">
            <button nz-button type="button">
              <i nz-icon nzType="upload"></i>
              <span>选择图片</span>
            </button>
          </nz-upload>
        </se>


        <se>
          <button nz-button nzType="primary" [disabled]="form.invalid" type="submit"
            [nzLoading]="submitting">提交</button>
          <button nz-button class="ml-sm" type="reset">重置</button>
        </se>
      </form>
    </nz-card>
  </div>
</div>
