<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="24" nzSm="12" nzMd="24" class="mb-md">
    <nz-card [nzBordered]="false" [nzTitle]="title">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
        <se label="用户名称" error="请输入用户名" required>
          <input nz-input formControlName="name" placeholder="给目标起个名字" />
        </se>
        <se label="手机号码" error="请输入手机号码">
          <input nz-input formControlName="mobile" placeholder="输入手机号码" />
        </se>
        <se>
          <button nz-button nzType="primary" [disabled]="form.invalid" type="submit"
            [nzLoading]="submitting">提交</button>
          <button nz-button class="ml-sm" type="reset">重置</button>
        </se>
      </form>
    </nz-card>
  </div>
</div>