<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="24" nzSm="12" nzMd="24" class="mb-md">
    <nz-card [nzBordered]="false" [nzTitle]="title">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
        <se label="用户名称" error="请输入用户名，用户名不可重复" required>
          <input nz-input formControlName="name" placeholder="给目标起个名字" />
        </se>
        <se label="手机号码" error="请输入手机号码">
          <input nz-input formControlName="mobile" placeholder="输入手机号码" />
        </se>
        <se>
          <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">提交</button>
          <button nz-button class="ml-sm" type="reset">重置</button>
        </se>
      </form>



      <!-- <div nz-row [nzGutter]="16">
        <div nz-col nzMd="8" nzSm="12" nzXs="24">
          <div nz-form-item nz-row>
            <div nz-form-label nz-col nz-form-item-required>
              <label>用户名称</label>
            </div>
            <div nz-form-control nz-col nzHasFeedback>
              <input nz-input formControlName="name" nzPlaceHolder="请输入用户名" nzSize="large" />
              <ng-container *ngIf="form.controls['name'].dirty || form.controls['name'].touched">
                <p nz-form-explain *ngIf="form.controls['name'].errors?.required">请输入用户名</p>
                <p nz-form-explain *ngIf="form.controls['name'].errors?.checked">用户名已存在</p>
                <p nz-form-explain *ngIf="form.controls['name'].errors?.pattern ||form.controls['name'].errors?.minlength ">请输入2个字符以上的字母、数字和下划线</p>
              </ng-container>
            </div>
          </div>
        </div>
      </div> -->
    </nz-card>
  </div>
</div>