
<ion-header>
  <ion-navbar no-border-bottom>
    <!-- <ion-avatar item-start>
      <img src="assets/img/avatar-ts-woody.png">
    </ion-avatar> -->
    <ion-title>
      我的
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="content">
      <ion-segment-button value="account">
        优悠账户
      </ion-segment-button>
      <ion-segment-button value="order">
        商品订单
      </ion-segment-button>
      <ion-segment-button value="service_order">
        服务订单
      </ion-segment-button>
      <ion-segment-button value="appointment">
        我的预约
      </ion-segment-button>
      <ion-segment-button value="record">
        消费记录
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="content">
    <ion-item *ngSwitchCase="'account'">
      <p>手机号：{{ mobile }}
      <p>邮寄地址：{{ address }}</p>
      <p>会员卡：{{ card_name }}</p>
      <p>余额：{{ remainder }}</p>
      <button ion-button color="primary" icon-start (click)="modifyInfo()">
        <ion-icon name="create"></ion-icon>
        修改信息
      </button>
    </ion-item>

    <div *ngSwitchCase="'order'">
      <div *ngFor="let i of orders" >
        <p class="orderdate" > {{i.date}} </p>
        <ion-card>
          <ion-card-title>
            <ion-icon class="home" name="cart"></ion-icon><span class="cardtitle">{{i.commodity}}</span>
          </ion-card-title>
          <div class="cardcontent">
            <ion-row no-padding>
              <ion-col text-left >
                <p>{{i.amount}}件</p>
                <p>{{i.pay_status}}</p>
                <p>No.{{i.ono}}</p>
              </ion-col>
              <ion-col text-right >
                <p>{{i.status}}</p>
              </ion-col>
              </ion-row>
              <ion-item>
                <button ion-button icon-start  item-right 
                  (click)="pay(i)" [disabled]="!(i.pay_status=='未支付')" outline >
                  支付
                </button>
              </ion-item>
          </div>
        </ion-card>
      </div>
      
    </div>

    <div *ngSwitchCase="'service_order'">
      <div *ngFor="let i of service_orders" >
        <p class="orderdate" > {{i.date}} </p>
        <ion-card>
          <ion-card-title>
            <ion-icon class="home" name="cart"></ion-icon><span class="cardtitle">{{i.service}}</span>
          </ion-card-title>
          <div class="cardcontent">
            <ion-row no-padding>
              <ion-col text-left >
                <p>{{i.amount}}件</p>
                <p>{{i.pay_status}}</p>
                <p>No.{{i.sno}}</p>
              </ion-col>
              <!-- <ion-col text-right >
                <p>{{i.status}}</p>
              </ion-col> -->
              </ion-row>
              <ion-item>
                <button ion-button icon-start  item-right 
                  (click)="pay_service_order(i)" [disabled]="!(i.pay_status=='未支付')" outline >
                  支付
                </button>
              </ion-item>
          </div>
        </ion-card>
      </div>
    </div>

    <div *ngSwitchCase="'appointment'">
        <div *ngFor="let i of appointments" >
            <p class="orderdate" > {{i.date + " " + i.time}} </p>
            <ion-card>
              <ion-card-title>
                <ion-icon class="home" name="cart"></ion-icon><span class="cardtitle">{{i.service}}</span>
              </ion-card-title>
              <div class="cardcontent">
                <ion-row no-padding>
                  <ion-col text-left >
                    <p>{{i.technician}}</p>
                  </ion-col>
                  <ion-col text-right >
                    <p>{{i.status}}</p>
                  </ion-col>
                  </ion-row>
                  <ion-item>
                    <button ion-button icon-start  item-right 
                      (click)="cancel_appointment(i)" [disabled]="!(i.status=='已预约')" outline >
                      <ion-icon name='close'></ion-icon>
                      取消
                    </button>
                  </ion-item>
              </div>
            </ion-card>
          </div>
    </div>
    

    <div *ngSwitchCase="'record'">
        <div *ngFor="let i of records" >
            <p class="orderdate" > {{i.datetime}} </p>
            <ion-card>
              <ion-card-title>
                <ion-icon class="home" name="cart"></ion-icon><span class="cardtitle">{{i.name}}</span>
              </ion-card-title>
              <div class="cardcontent">
                <ion-row no-padding>
                  <ion-col text-left >
                    <p>金额：{{i.amount}}</p>
                    <p>类型：{{i.type}}</p>
                    <p>支付方式：{{i.pay_type}}</p>
                  </ion-col>
  
                </ion-row>
                  
              </div>
            </ion-card>
          </div>
    </div>
  </div>
</ion-content>
