
<ion-header>
  <ion-navbar no-border-bottom>
    <!-- <ion-avatar item-start>
      <img src="assets/img/avatar-ts-woody.png">
    </ion-avatar> -->
    <ion-title>
      我的
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="content">
      <ion-segment-button value="account">
        优悠账户
      </ion-segment-button>
      <ion-segment-button value="order">
        商品订单
      </ion-segment-button>
      <ion-segment-button value="service_order">
        服务订单
      </ion-segment-button>
      <ion-segment-button value="appointment">
        我的预约
      </ion-segment-button>
      <ion-segment-button value="record">
        消费记录
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="content">
    <ion-item *ngSwitchCase="'account'">
      <p>手机号：{{ mobile }}
      <p>邮寄地址：{{ address }}</p>
      <p>会员卡：{{ card_name }}</p>
      <p>余额：{{ remainder }}</p>
      <button ion-button color="primary" icon-start (click)="modifyInfo()">
        <ion-icon name="create"></ion-icon>
        修改信息
      </button>
    </ion-item>

    <div *ngSwitchCase="'order'">
      <ion-list  *ngFor="let i of orders" >
        <ion-item>
          <p>单号：{{i.ono}}</p>
          <p>产品：{{i.commodity}}</p>
          <p>数量：{{i.amount}}</p>
          <p>日期：{{i.date}}</p>
          <p>支付：{{i.pay_status}}</p>
          <p>状态：{{i.status}}</p>
          <button ion-button color="primary" icon-start (click)="pay(i)" *ngIf="i.pay_status == '未支付'">
            <ion-icon name='logo-yen'></ion-icon>
            支付
          </button>
          <p>-------------------------------------------------------------</p>
        </ion-item>
      
      </ion-list>
    </div>

    <div *ngSwitchCase="'service_order'">
      <ion-list  *ngFor="let i of service_orders" >
        <ion-item>
          <p>单号：{{i.sno}}</p>
          <p>服务：{{i.service}}</p>
          <p>数量：{{i.amount}}</p>
          <p>日期：{{i.date}}</p>
          <p>支付：{{i.pay_status}}</p>
          <p>状态：{{i.status}}</p>
          <button ion-button color="primary" icon-start (click)="pay_service_order(i)" *ngIf="i.pay_status == '未支付'">
            <ion-icon name='logo-yen'></ion-icon>
            支付
          </button>
          <p>-------------------------------------------------------------</p>
        </ion-item>
      
      </ion-list>
    </div>

    <div *ngSwitchCase="'appointment'">
      <ion-list *ngFor="let i of appointments">
        <ion-item>
          
        </ion-item>
      </ion-list>
    </div>
    

    <div *ngSwitchCase="'record'">
      <ion-list *ngFor="let i of records">
        <ion-item>
            <p>产品：{{i.name}}</p>
            <p>消费类型：{{i.type}}</p>
            <p>支付方式：{{i.pay_type}}</p>
            <p>金额：{{i.amount}}</p>
            <p>时间：{{i.datetime}}</p>
            <p>-------------------------------------------------------------</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
