<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="24" nzSm="12" nzMd="24" class="mb-md">
    <nz-card [nzBordered]="false" [nzTitle]="title">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
        <se label="技师名称" error="请输入用户名，大于两个字符，不可重复" required>
          <input nz-input formControlName="name" placeholder="给目标起个名字" />
        </se>
        <se label="技师职业" error="请输入职业">
          <input nz-input formControlName="occupation" placeholder="输入职业" />
        </se>
        <se label="技师性格" error="请输入性格">
          <input nz-input formControlName="characteristic" placeholder="输入性格，用‘，’分隔" />
        </se>

        <se label="技师头像">

          <div *ngIf="avatarURL">
            <img [src]="avatarURL" alt="Smiley face" height="200" width="200">
          </div>
          <nz-upload [nzBeforeUpload]="beforeUpload" [(nzFileList)]="fileList">
            <button nz-button type="button">
              <i nz-icon nzType="upload"></i>
              <span>选择图片</span>
            </button>
          </nz-upload>

        </se>

        <se>
          <button nz-button nzType="primary" [disabled]="form.invalid" type="submit"
            [nzLoading]="submitting">提交</button>
          <button nz-button class="ml-sm" type="reset">重置</button>
        </se>
      </form>
    </nz-card>
  </div>
</div>
