
<ion-header>
  <ion-navbar>
    <ion-title>服务预约</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
    <ion-card *ngFor="let i of data">

      <ion-item>
        <ion-avatar item-start>
          <img [src]="i.avatar">
        </ion-avatar>
        <h2>{{ i.name }}</h2>
        <p>{{ i.occupation }}</p>
      </ion-item>
    
      <!-- <img src="assets/img/advance-card-bttf.png"> -->
    
      <ion-item>
          <ion-badge mode="ios" color="light" *ngFor="let c of i.characteristic">{{ c }}</ion-badge>
      </ion-item>
      
      <ion-row>
        <ion-col>
          <button ion-button color="primary" clear small icon-start>
            <ion-icon name='thumbs-up'></ion-icon>
            被赞：{{ i.good_times }} 次
          </button>
        </ion-col>
        <ion-col>
          <button ion-button color="primary" clear small icon-start>
            <ion-icon name='text'></ion-icon>
            作品：{{ i.works }} 件
          </button>
        </ion-col>
        <ion-col align-self-center text-center>
          <ion-note>
            已预约：{{ i.order_times }} 次
          </ion-note>
        </ion-col>
        <ion-col>
          <button ion-button color="primary"  small icon-start (click)="book(i)">
            <!-- <ion-icon name='text'></ion-icon> -->
            预约
          </button>
        </ion-col>
      </ion-row>
      
    </ion-card>
      
</ion-content>
